<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
    text-align: center;
    background-color: rgb(9, 62, 89);
    color: white;
    
}
table, th, td {
  border: 1px solid;
}

table {
  width: 100%;
}
    </style>
</head>
<body>
    <h1>Budget Friendly Package</h1>
    <table>
        <thead>
            <tr>
                <th>Amount</th>
                <th>Package</th>
                <th>Days</th>
                <th>booking</th>

            </tr>
        </thead>
        <tbody>
            {% for i in item %}
            <tr>
                <td>{{ i.amount }}</td>
                <td>{{ i.package }}</td>
                <td>{{ i.days }}</td>
                <td> <button type="submit"><a href="{% url 'booking' %}"> Book Now</a></button>
                </td>
                
                    {% csrf_token %}
                
            </tr>
        
            {% endfor %}
        </tbody>
    </table>
</body>
</html>