<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Budget Friendly Package</h2>
    <table>
        <thead>
            <tr>
                <th>Amount</th>
                <th>Package</th>
                <th>Days</th>
                <th>Image</th>

            </tr>
        </thead>
        <tbody>
            {% for i in item %}
            <tr>
                <td>{{ i.amount }}</td>
                <td>{{ i.package }}</td>
                <td>{{ i.days }}</td>
                <td>{{ i.img }}</td>
                
                    {% csrf_token %}
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>