{% extends 'about.html' %}
{% load static %}


{% block title %}
<title>new</title>
{% endblock %}



{% block content %}
   <h1>Contact Us</h1> 
   <table>
    <tr>
        <td>Name of the Company:</td>
        <td>Wayferer Private Limited
        </td>
    </tr>
    <tr>
        <td>CIN:</td>
        <td>W63040200PRC090800</td>
    </tr>
    <tr>
        <td>
            Registered Address:</td>
        <td>5th Floor, Tower A/B/C, Epitome Building No. 6, Kochi City,  Ernakulam Kerala - 122234
        </td>
    </tr>
    <tr>
        <td>Telephone:</td>
        <td>+91 9923457891</td>
    </tr>
    <tr>
        <td>
            Email:
            </td>
        <td>Wayferertrip@gmail.com
        </td>
    </tr>
   </table>
   {% endblock %}

